#--------------------------------------------------------------
# IDEs
#--------------------------------------------------------------

# CMake build directories
/_build
/_build_*
/.build
/.build_*

# CLion
/cmake-build-*
/.idea

# User-specific files
CMakeUserPresets.json

# VS Code
/.vscode

# Example mod
/ExampleMod.dll
/ExampleMod.pdb
